.titleField {
  width: 60rem;
  margin-top: 5rem;
}

.titleFieldContainer {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.sendButtonContainer {
display: flex;
justify-content: center;
}

.categoryContainer {
display: flex;
justify-content: center;
}

.explanationField {
width: 60rem;
}

.explanationContainer {
display: flex;
justify-content: center;
margin-top: 3rem;
margin-bottom: 20px;

}

/* 画像とファイル入力を包むコンテナのスタイル */
.default {
width: 100%;            /* 親要素の幅を画面幅いっぱいに設定 */
height: 30vh;          /* 親要素の高さをビューポートの高さに設定（必要に応じて調整） */
display: flex;         /* Flexboxを有効にする */
justify-content: center; /* 横方向の中央に配置 */
margin-top: 0;
background-color: rgb(199, 199, 199); /* 画像が選択されていない場合の背景色 */
}

.inputImageContainer {
display: flex;          /* Flexboxを有効にする */
flex-direction: column; /* 子要素を縦に並べる */
justify-content: center; /* 横方向の中央に配置 */
align-items: center;    /* 縦方向の中央に配置 */
}

.imageDisplayContainer {
display: flex;
justify-content: center;
align-items: center;
background-color: #FFF9F5; /* 画像が選択されているときの背景色 */
}

.selectedImage {
width: 50%; /* 横幅を親要素に合わせて調整 */
height: auto; /* 高さを自動調整 */
object-fit: cover; /* 画像の切り抜き方を調整 */
border-radius: 8px; /* 角を丸くする（オプション） */
}

.labelText {
margin-bottom: 10px;    /* ボタンとの間にスペースを追加 */
font-size: 16px;        /* テキストのサイズ */
color: #333;            /* テキストの色（必要に応じて変更） */
}

.line {
  border: none; /* デフォルトのボーダーを削除 */
  border-top: 2px solid #D48300; /* 横線の色を設定 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* 影をつける */
  margin: 20px 0; /* 上下のマージンを設定 */
}

.slideContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 3rem;
}

.imageWrapper {
  width: 30rem; 
  height: 20rem;
  background-color: #FFF9F5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
} 

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

