.headerContainer {
    display: flex;
    justify-content: center; /* 変更: 中央揃えに設定 */
    background-color: #D2FADC;
    height: 5rem;
    width: 100%;
    align-items: center;
    opacity: 0.8;
    position: relative; /* 追加: 戻るボタンを絶対位置で配置するため */
}

.backButton {
    display: flex;
    font-family: 'Klee One', sans-serif;
    color: #000;
    position: absolute; /* 追加: 戻るボタンの絶対位置を指定 */
    left: 1rem; /* 追加: 左端に配置 */
}

.appTitle {
    display: flex;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #000;
}