.container {
    display: flex;
    justify-content: center;
}

.postCard {
    width: 40vh;
    height: 50vh;
    text-align: center;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: 'Klee One', sans-serif;
    border: 2px solid #FFFFFF; /* 白い枠を追加 */
    padding: 1rem; /* 内側の余白を追加 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を追加して浮き立たせる */
    background-color: #FFFFFF;
    border-radius: 12px;
}

.postCard hr {
    border: none;
    border-top: 2px solid #D48300; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 0.5rem 0;
}

.postCard img {
    width: 35vh;
    height: 24vh;
    object-fit: cover;
    width: 100%;
}

.postCard h2 {
    margin-top: 0.5rem;
    font-size: 2rem;
}

.postCard p {
    margin-top: 1.3rem;
    text-align: left;
    line-height: 1.5em; /* 行間を設定 */
    max-height: 6.0em; /* 3行分の高さ (1.5em * 3行) */
    overflow: hidden; /* 見えない部分を隠す */
    text-overflow: ellipsis; /* はみ出したテキストに「…」を表示 */
    white-space: normal; /* 改行を許可 */
}